*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    font-family: 'Open Sans', sans-serif;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background: #333;
    color: brown;
    position: sticky;
    top: 0;
    
}

.nav-links {
    display: flex;
    list-style: none;
    align-items: start;
    
}

.nav-links li {
    margin-left: 20px;
    align-items: start;
    
    
}

.nav-links a {
    color:brown;
    text-decoration: none;
    align-items: start;
}

/* HERO */
.hero {
    display: flex;
    flex-direction: column;    
    align-items: center;
    padding: 50px;
    gap: 1.5rem;
    width: 100%;
    justify-content: center;
    background-image: url(../images/profile\ photo.jpeg);
    background-size: cover;
    position: relative;
    background-position: 90%;
    
}

.hero img {
    width: 100%;
    border-radius: 50%;
    align-items: start;
    height: 100%;
    object-fit: cover;
    text-align: start;
}

.custom-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background:gray;
    color: brown;
    text-decoration: none;
    border-radius: 5px;
    align-items: start;
    border: none;
    cursor: pointer;
}


/* ABOUT */
.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px;
    gap: 0.5rem;
    color: black;
    align-items: start;
    gap: 2rem;
    max-width: 1280px;
    width: 90%;
    font-weight: 700;
    
}

.about img {
    width: 100%;
    border-radius: 5px;
}

/* SKILLS */
.skills {
    padding: 50px;
    text-align: center;
    color:black;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    color: black;
    background-color:rgb(128, 128, 128);
    
    
    
}
.skill-card {
    padding: 20px;
    background: #f4f4f4;
    border-radius: 5px;
    color: white;
    background-color: brown;
}

/* PROJECTS */
.projects {
    padding: 50px;
    color: black;
    align-items: start;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    color: black;
    align-items: start;
    

}

.project-card img {
    width: 100%;
    border-radius: 5px;
    color: black;
    align-items: start;
    
    
}

/* CONTACT */
.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px;
    color: black;
    background-color: #333;




}

form input, form textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    align-items: start;
    color: black;
    
    
      
}

    
    
    

/* FOOTER */
footer {
    text-align: start;
    padding: 20px;
    background: #333;
    color: white;
}

/* RESPONSIVE */
@media (max-width: 767px) {

    .hero {
        flex-direction: column;
    }

    .about-container {
        grid-template-columns: 1fr;
    }

    .skills-grid {
        grid-template-columns: 1fr 1fr;
        color: cadetblue;
    }

    .projects-grid {
        grid-template-columns: 1fr;
        color: black;
    }

    .contact-container {
        grid-template-columns: 1fr;
    }
}
